/* Geral */
* {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #333;
	background-color: #f0f0f0;
}

/* Container principal */
.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 90%;
	margin: 3rem auto;
}

/* Cabeçalho */
.cabecalho {
	text-align: center;
}

.titulo-principal {
	font-size: 2.2rem;
}

/* Conteúdo principal */
.conteudo-principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.box-placar {
	display: flex;
	gap: 1rem;
}

.placar {
	font-size: 2rem;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	background-color: #fff;
	width: 400px;
	max-width: 100%;
	padding: 1.2rem;
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.titulo-form {
	font-size: 1.6rem;
	text-align: center;
}

.box-input {
	display: flex;
	flex-direction: column;
	gap: .8rem;
}

.label {
	font-size: 1.1rem;
	text-align: center;
}

.obrigatorio {
	color: #ff0000;
}

#numero {
	font-size: 1rem;
	padding: 1rem;
	border: 1px solid #ccc;
}

#numero:focus {
	outline: 0;
}

.box-inp-radio {
	display: flex;
	justify-content: center;
	gap: .8rem;
}

.box-radio {
	display: flex;
	align-items: center;
	gap: .3rem;
}

.box-btn-submit {
	display: flex;
	justify-content: center;
}

#btnSubmit {
	font-size: 1.2rem;
	color: #fff;
	background-color: #008000;
	padding: .95rem 1.4rem;
	border: 0;
	border-radius: 12px;
	cursor: pointer;
	transition: .5s;
	opacity: .9;
}

#btnSubmit:hover {
	opacity: 1;
}

/* Modal */
#boxModal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
}

#boxModal.ativo {
	display: flex;
}

.modal {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #fff;
	width: 480px;
	max-width: 100%;
	padding: 1.2rem;
	border-radius: 12px;
}

#msgModal {
	font-size: 1.1rem;
	min-height: 50px;
	line-height: 25px;
}

#btnFecharModal {
	align-self: flex-end;
	font-size: 1rem;
	color: #fff;
	background-color: #ee0000;
	padding: .9rem;
	border: 0;
	border-radius: 12px;
	cursor: pointer;
	transition: .5s;
	opacity: .9;
}

#btnFecharModal:hover {
	opacity: 1;
}

#btnFecharModal.reiniciar {
	background-color: #00aa00;
}

/* Rodapé */
.rodape {
	text-align: center;
}

.creditos-dev {
	font-style: italic;
}

.link-creditos {
	text-decoration: none;
	color: #0077ff;
}

.link-creditos:hover {
	text-decoration: underline;
}

/* Responsividade */

/* Dispositivos bem pequenos (celulares pequenos, 600px e abaixo) */
@media only screen and (max-width: 600px) {
	html {
		font-size: 15px;
	}
}